.working {
  text-align: center;
  padding-bottom: 3rem;
}

.how {
  font-family: "Epilogue", sans-serif;
  font-size: 2.5rem;
  padding-top: 2.5rem;
  margin: 0;
}

.section-heading {
  font-size: 3.5rem;
}

.working1 {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 0;
  display: block;
}

.working2 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  max-width: 35rem;
  margin: 2rem;
  display: block;
}

.listItem {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  margin: 1rem;
}

.MuiPaper-root {
  margin: 0.5rem;
}

.MuiPaper-root.working-points:hover {
  transform: scale(1.05);
}

.working-image {
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .how {
    font-size: 2.2rem;
  }
  .section-heading {
    font-size: 2.8rem;
  }
  .working2 {
    font-size: 1.3rem;
    max-width: 25rem;
  }
  .listItem {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .how {
    font-size: 1.9rem;
  }
  .section-heading {
    font-size: 2.5rem;
  }
  .working2 {
    font-size: 1.2rem;
    max-width: 22rem;
  }
  .listItem {
    font-size: 1.2rem;
  }
  .working-image {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  .how {
    font-size: 1.5rem;
  }
  .section-heading {
    font-size: 2.2rem;
  }
  .listItem {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .how {
    font-size: 1.2rem;
  }
  .working1 {
    margin-top: 2rem;
  }
  .section-heading {
    font-size: 1.8rem;
  }
  .listItem {
    font-size: 0.9rem;
  }
  .working2 {
    margin: 1rem;
  }
  .MuiPaper-root {
    margin: 1rem;
  }
  .working-image {
    width: 100%;
  }
}
