.cash-management {
  text-align: center;
  padding: 3rem 0rem 4rem;
}

.cash-management-heading {
  font-family: "Epilogue";
  font-weight: bold;
  display: block;
  margin-bottom: 6rem;
}

.cash-management-points {
  margin: 0rem;
  font-size: 1.5rem;
  font-family: "Work Sans";
}

.cash-management-points2 {
  margin: 1rem;
  font-family: "Montserrat";
}

.points-icon {
  font-size: 2rem;
  color: #0096ff;
}

.points-icon2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}

@media only screen and (max-width: 900px) {
  .cash-management-heading {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 750px) {
  .cash-management-points {
    font-size: 1.2rem;
  }
  .cash-management-points2 {
    font-size: 1.5rem;
  }
}
