.about {
  height: 100%;
  background: #f5e8c7;
}
.business-credit {
  text-align: center;
  background: #f2f3f5;
  padding: 3rem 0rem 4rem;
}

.business-credit-heading {
  font-family: "Epilogue";
  font-weight: bold;
  display: block;
  margin-bottom: 6rem;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 95%;
  overflow: inherit;
  background: #1a1c20;
  padding-right: 0px;
}

.cards-container {
  padding: 0.5rem;
}

.MuiPaper-root.cards {
  margin: 0rem;
  height: 100%;
  width: 100%;
  background: #1a1c20;
  cursor: pointer;
  text-align: center;
}

.card-image {
  margin-top: 2rem;
  max-width: 100%;
  width: 300px;
  height: 250px;
}

.MuiCardContent-root.card-content {
  color: white;
  text-align: center;
}

.read-more {
  font-family: "Montserrat";
}

.card-title {
  font-family: "Work Sans";
  font-size: 1.8rem;
}

.card-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  margin: 0rem;
}

@media only screen and (max-width: 1200px) {
  .business-credit-heading {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .business-credit-heading {
    margin-bottom: 2rem;
  }
}
.cash-management {
  text-align: center;
  padding: 3rem 0rem 4rem;
}

.cash-management-heading {
  font-family: "Epilogue";
  font-weight: bold;
  display: block;
  margin-bottom: 6rem;
}

.cash-management-points {
  margin: 0rem;
  font-size: 1.5rem;
  font-family: "Work Sans";
}

.cash-management-points2 {
  margin: 1rem;
  font-family: "Montserrat";
}

.points-icon {
  font-size: 2rem;
  color: #0096ff;
}

.points-icon2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}

@media only screen and (max-width: 900px) {
  .cash-management-heading {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 750px) {
  .cash-management-points {
    font-size: 1.2rem;
  }
  .cash-management-points2 {
    font-size: 1.5rem;
  }
}
.contact {
  height: 100%;
  background: #f5e8c7;
}
.contact-form {
  background: white;
  padding: 3rem 0rem;
}

.contact-heading {
  font-size: 3rem;
  font-family: "Epilogue";
  text-align: center;
}

.MuiInputLabel-root.contact-form-field-label {
  font-family: "Montserrat";
}

.MuiTextField-root.contact-form-field {
  margin: 1rem 0rem;
}
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background: #f5e8c7;
  padding-top: 3rem;
}

.footer-logo {
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.footer-logo-text {
  font-family: "Baloo Thambi 2";
  font-weight: bold;
  font-size: 2.5rem;
}

.footer-links-heading {
  font-family: "Epilogue";
  padding-bottom: 2rem;
  border-bottom: 3px solid #000;
}

.footer-links {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1.5rem;
  cursor: pointer;
}

.copyright {
  font-family: "Work Sans";
  font-size: 0.8rem;
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .footer-logo-text {
    font-size: 2rem;
  }

  .footer-links-heading {
    font-size: 1.5rem;
  }

  .footer-links {
    font-size: 1rem;
  }
}
.main {
  height: 100%;
  background-color: #f5f5f4;
}
.landing {
  height: 100%;
  background-image: url("../images/bg2.png");
  background-size: cover;
}

.background-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.background {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.heading1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Baloo Thambi 2";
  font-weight: normal;
}

.heading2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.get-started {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .heading1 {
    font-size: 1.5rem;
  }
  .heading2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading1 {
    font-size: 1rem;
  }
  .heading2 {
    font-size: 2rem;
  }
}
.mission {
  padding: 6rem 1rem;
  background: white;
}

.about-heading {
  font-size: 3rem;
  font-family: "Epilogue";
  text-align: center;
}

.mission-text {
  font-size: 2rem;
  font-family: "Work Sans";
  font-weight: bold;
}

.mission-points {
  font-size: 1.5rem;
}

.mission-points-icon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .mission {
    padding: 3rem 1rem;
  }
  .about-heading {
    margin-bottom: 3rem;
  }
  .mission-text {
    font-size: 1.5rem;
  }
  .mission-points {
    font-size: 1.3rem;
  }
}
.logo {
  font-family: "Baloo Thambi 2";
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.navBar {
  justify-content: center;
  position: fixed;
  padding-top: 10px;
  z-index: 10;
  background: #f8f8f7;
}

.navItem {
  font-family: "Work Sans";
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  max-width: 7rem;
  cursor: pointer;
}

.drawerItem {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Work Sans";
}
.logo {
  font-family: "Baloo Thambi 2";
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.navBar2 {
  justify-content: center;
  padding-top: 10px;
  z-index: 10;
  background: #f8f8f7;
}

.drawerItem {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Work Sans";
}
.working {
  text-align: center;
  padding-bottom: 3rem;
}

.how {
  font-family: "Epilogue", sans-serif;
  font-size: 2.5rem;
  padding-top: 2.5rem;
  margin: 0;
}

.section-heading {
  font-size: 3.5rem;
}

.working1 {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 0;
  display: block;
}

.working2 {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  max-width: 35rem;
  margin: 2rem;
  display: block;
}

.listItem {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  margin: 1rem;
}

.MuiPaper-root {
  margin: 0.5rem;
}

.MuiPaper-root.working-points:hover {
  transform: scale(1.05);
}

.working-image {
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .how {
    font-size: 2.2rem;
  }
  .section-heading {
    font-size: 2.8rem;
  }
  .working2 {
    font-size: 1.3rem;
    max-width: 25rem;
  }
  .listItem {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .how {
    font-size: 1.9rem;
  }
  .section-heading {
    font-size: 2.5rem;
  }
  .working2 {
    font-size: 1.2rem;
    max-width: 22rem;
  }
  .listItem {
    font-size: 1.2rem;
  }
  .working-image {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  .how {
    font-size: 1.5rem;
  }
  .section-heading {
    font-size: 2.2rem;
  }
  .listItem {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .how {
    font-size: 1.2rem;
  }
  .working1 {
    margin-top: 2rem;
  }
  .section-heading {
    font-size: 1.8rem;
  }
  .listItem {
    font-size: 0.9rem;
  }
  .working2 {
    margin: 1rem;
  }
  .MuiPaper-root {
    margin: 1rem;
  }
  .working-image {
    width: 100%;
  }
}
