a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background: #f5e8c7;
  padding-top: 3rem;
}

.footer-logo {
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.footer-logo-text {
  font-family: "Baloo Thambi 2";
  font-weight: bold;
  font-size: 2.5rem;
}

.footer-links-heading {
  font-family: "Epilogue";
  padding-bottom: 2rem;
  border-bottom: 3px solid #000;
}

.footer-links {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1.5rem;
  cursor: pointer;
}

.copyright {
  font-family: "Work Sans";
  font-size: 0.8rem;
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .footer-logo-text {
    font-size: 2rem;
  }

  .footer-links-heading {
    font-size: 1.5rem;
  }

  .footer-links {
    font-size: 1rem;
  }
}
