.business-credit {
  text-align: center;
  background: #f2f3f5;
  padding: 3rem 0rem 4rem;
}

.business-credit-heading {
  font-family: "Epilogue";
  font-weight: bold;
  display: block;
  margin-bottom: 6rem;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 95%;
  overflow: inherit;
  background: #1a1c20;
  padding-right: 0px;
}

.cards-container {
  padding: 0.5rem;
}

.MuiPaper-root.cards {
  margin: 0rem;
  height: 100%;
  width: 100%;
  background: #1a1c20;
  cursor: pointer;
  text-align: center;
}

.card-image {
  margin-top: 2rem;
  max-width: 100%;
  width: 300px;
  height: 250px;
}

.MuiCardContent-root.card-content {
  color: white;
  text-align: center;
}

.read-more {
  font-family: "Montserrat";
}

.card-title {
  font-family: "Work Sans";
  font-size: 1.8rem;
}

.card-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  margin: 0rem;
}

@media only screen and (max-width: 1200px) {
  .business-credit-heading {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .business-credit-heading {
    margin-bottom: 2rem;
  }
}
